{{#each this}}
  <li class='film-card'>

    <a href='#' class='card__link'>
      {{#if poster_path}}
        <img
          class='card-img'
          src='https://www.themoviedb.org/t/p/w300{{poster_path}}'
          onerror="this.onerror=null;this.src='https://subscribenow.com.au/time/asia/Solo/Content/Images/noCover.gif'"
          loading='lazy'
          alt='{{title}}'
          title='{{title}}'
          data-index='{{id}}'
        />
      {{else}}
        <img
          class='card-img'
          src='https://github.com/AButsai/project-13/blob/dev/src/images/plug.jpg?raw=true'
          loading='lazy'
          alt='{{title}}'
          title='{{title}}'
          data-index='{{id}}'
        />
      {{/if}}
      <h2 class='card-title'>{{title}}</h2>

      {{#if year}}

        <p class='card-genres'>{{genres}}
          |
          {{year}}
        </p>
      {{/if}}
    </a>

  </li>
{{/each}}